i{
    font-size: 21px;
    margin-left: 22px;
}
a{
    text-decoration: none;
    color: black;
}

.header{
    background-color: blue;

}
@media(max-width: 800px){
      .header{ text-align: center;}
}
.row-header{
    padding: 10px 30px;
}
.center{
    margin-left: 20px;
    margin-right: 20px;
}
.strong{
    font-weight: 700;
}
.text-center{
    text-align: center;
}
nav{
    
    font-size: 13px;
}
.row-nav{
    padding: 15px 0 15px 30px;
    align-items: center;

}
.row-center{
    text-align: center;
    
}
.row-center .strong{
    font-size: 23px;
    margin-top: 15px;
}
@media(max-width: 800px){
    .row-nav{ text-align: center;}
    
}
.margin-right{
    margin-right: 20px;
}
.row-nav  i{
    font-size: 30px;
    
}
.hover:hover{
     border-bottom: 3px solid red;
     font-weight: 900;
    
}
.w-100{
    height: 350px;
}
b{
    color: blue;
}
.small-text{
    font-size: 10px;
    line-height: 9px;
}
.img-advantages{
    height: 70px;
    width: 90px;
    padding: 25px  8px 8px 6px;
}
.img-tutors{
    height: 120px;
    width: 200px;
}
.bg-grey{
    background-color: rgba(128, 128, 128, 0.192);
    height: 85px;
    width: 85px;    
    text-align: center;
    display: inline-block;
}
.margin-top{
    margin-top: 20px;
    
    
}
.title-advantages{
    font-size: 13px;
    margin-top: 25px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}
.container-fluid{
    text-align: center;
    display: inline-block;
}
p{
    font-size: 10px;
}
.horizontal{
    display: flex;

}
.our-sales{
    height: 300px;
    width: 220px;
    margin-right: 40px;
}
.sales{
    background-color: rgba(128, 128, 128, 0.397);
}

.aligne{
    text-align: center;
    display: inline-block;
    padding-bottom: 50px;
}
.bg-grey-soft{
    background-color: rgba(255, 255, 255, 0.301);
    
}
.text-start{
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 20px;
}
.in-line{
    line-height: 25px;
}
.line-through{
    text-decoration: line-through;
    line-height: 10px;
}
.text-red{
    color: red;
    font-size: 45px;
    font-weight: 900;
}

.btn{
    width: 170px;
}
.circle-bigger{
    height: 140px;
    width: 140px;
    text-align: center;
    display: inline-block;
}
.circle-bigger .title-advantages{
    margin-top: 90PX;
}
.size{
    font-size: 15px;
}
.margin-top2{
    margin-top: 70px;
}
.flex{
    display: flex;
    justify-content: space-evenly;
    color: white;
}
.hover-text:hover{
    font-weight: 900;
    color: red;
}
.img-cources{
    height: 190px;
    width: 240px;
}
.margin{
    margin: auto;
}
.img-text{
    width: 240px;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 12px 0 12px 0;
}
.padding-bottom{
    padding-bottom: 50px;
}

th{
   text-align: center;
   
}

.month{
    background-color: rgb(185, 185, 185);
}

.margin-left{
    margin-left: 105px;
    margin-top: 40px;
}
.flex-calendar{
    display: flex;
    justify-content: space-evenly;
}

.bg-calendar{
    background-color: rgba(201, 201, 201, 0.555);
}

td{
    font-weight: 900;
}

.about-us{
    background-color: rgb(231, 231, 231);
}

.bg-white{
    background-color: white;
    height: 100px;
    width: 100px;
}
/* .flex-end{
    float: right;
} */
.margin-left-us{
    margin-left: 30px;
}
.p-about-us{
    font-size: 10px;
    line-height: 11px;
}
.border-right-us{
    border-right: 1px solid rgb(179, 179, 179);
}
.border-bottom-us{
    border-bottom: 1px solid rgb(179, 179, 179);
}
.padding-bottom-us{
    padding-bottom: 20px;
}
.padding-top{
    padding-top: 10px;
}
.padding-about-us{
    padding-bottom: 50px;
}
.spacing{
    letter-spacing: 3px;
}
.padding-top{
    padding-top: 20px;
}
.form{
    height: 30px;
   
}
@media(max-width: 1200px){
    .form{ width: 150px;}
}
.padding-top2{
    padding-top: 27px;
}

.line-height{
    line-height: 10px;
}
.margin-left2{
    margin-left: 100px;
}
.margin-left3{
    margin-left: 50px;
}
