
.icon-phone:before { content: '\e800'; } /* '' */
.icon-amazon:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-location:before { content: '\e803'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
.icon-box-rect:before { content: '\f322'; } /* '' */